accelerate
addict
annotated-types
appnope
asttokens
autodistill
autodistill-grounding-dino
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
coloredlogs
comm
confection
contourpy
cycler
cymem
debugpy
decorator
defusedxml
executing
filelock
flatbuffers
fonttools
fsspec
huggingface-hub
humanfriendly
idna
importlib_metadata
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
langcodes
language_data
marisa-trie
MarkupSafe
matplotlib
matplotlib-inline
mpmath
murmurhash
nest-asyncio
networkx
numpy
onnx
onnxruntime
opencv-python
opencv-python-headless
packaging
parso
peft
pexpect
pillow
platformdirs
preshed
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pycocotools
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
PyYAML
pyzmq
regex
requests
rf-segment-anything
rf_groundingdino
safetensors
scikit-learn
scipy
segment_anything
sentencepiece
six
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
supervision
sympy
thinc
threadpoolctl
timm
tokenizers
tomli
torch
torchvision
tornado
tqdm
traitlets
transformers
typer
typing_extensions
urllib3
wasabi
wcwidth
weasel
yapf
zipp
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@6fdee8f2727f4506cfbbe553e23b895e27956588
